<div class="row">
	<div class="col">
		<label class="item item-input item-select item-dark">
			<div class="input-label">
				Spiritueux
			</div>
			<select ng-model="formFilter.filter_spiritueux" ng-options="spiritueux for spiritueux in list_spiritueux"></select>
		</label>
	</div>
	<div class="col">
		<label class="item item-input item-select item-dark">
			<div class="input-label">
				Arôme
			</div>
			<select ng-model="formFilter.filter_aroma" ng-options="aroma for aroma in list_aromas"></select>
		</label>
	</div>
	<div class="col">
		<label class="item item-input item-select item-dark">
			<div class="input-label">
				Prix
			</div>
			<select ng-model="formFilter.filter_price">
				<option value=""></option>
				<option value="1">€</option>
				<option value="2" selected>€€</option>
				<option value="3">€€€</option>
			</select>
		</label>
	</div>
</div>