<ion-view view-title="prehome" cache-view="false">   
	<ion-content padding="true" scroll= "false" scrollbar-x="false" scrollbar-y="false" class="prehome">
		<div class="list card card-dark">
			<div class="item item-body text-center">

				<!-- <object type="image/svg+xml" data="/img/logo.svg" class=""/> -->
				<div class="logo"></div>
				<!-- <img ng-src="img/logo.svg"> -->
				<p class="text-center" ng-bind-html="app_slogan"></p>
			</div>
			<div class="item item-text-wrap text-justify" ng-hide="loading">
				<p>{{app_description}}</p>
				<br />
				<div class="text-center">
					<a class="button button-stable button-prehome" ng-click="loadData()"><strong>Continuer</strong></a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
