<ion-view view-title="product" cache-view="false">
	<ion-content padding="true" scroll= "false" scrollbar-x="false" scrollbar-y="false" class="product">
		<!-- Header -->
		<ion-header-bar align-title="center" class="bar-dark">
		  <div class="buttons">
		    <button class="button button-icon button-energized ion-arrow-left-c" ng-click="goBack()"></button>
		  </div>
		  <h1 class="title"><div class="logo small"></div></h1>
		</ion-header-bar>

		<!-- Title -->
		<div class="bar bar-subheader bar-energized">
			<h2 class="title title-left">{{product.title}}</h2>
		</div>
		<ion-content scroll="true" class="product_infos">
			<img src="{{product.img}}" />
			<p ng-bind-html="product.desc.txt"></p>
			<br />
			<h4><i class="icon ion-eye"></i> L'oeil</h4>
			<p>{{product.desc.eye}}</p>
			<h4><i class="icon ion-noise"></i> Le nez</h4>
			<p>{{product.desc.noise}}</p>
			<h4><i class="icon ion-smooth"></i> La bouche</h4>
			<p>{{product.desc.mouth}}</p>
			<h4><i class="icon ion-finale"></i> La finale</h4>
			<p>{{product.desc.final}}</p>
		</ion-content>


		<!-- footer included carousel -->
		<div class="bar bar-footer bar-energized">
			
			<div class="title"><a href="{{product.link}}" class="button button-icon ion-android-cart" target="_blank"></a></div>
		</div>
	</ion-content>
</ion-view>