<ion-view view-title="products" cache-view="false">
	<ion-content padding="false" scroll= "false" scrollbar-x="false" scrollbar-y="false" class="products">
		<!-- Header -->
		<ion-header-bar align-title="center" class="bar-dark">
		  <div class="buttons">
		    <button class="button  button-icon button-energized icon ion-arrow-left-c" ng-click="goBack()" nav-direction="back"></button>
		  </div>
		  <h1 class="title"><div class="logo small"></div></h1>
		  <div class="buttons">
		    <button class="button-light" ng-click="switchViewList()">{{products.length}} <i class="icon ion-grid"></i></button>
		  </div>
		</ion-header-bar>


		<!-- filter block -->
		<div class="filter_block">
			<ng-include src="'templates/filter.html'"></ng-include>
		</div>

		
		<!-- product thumbnail -->
		<ion-slide-box delegate-handle="big-list-products" show-pager="false" on-slide-changed="slideHasChanged($index)" auto-play="false" does-continue="false" class="product_carousel" ng-show="viewMode == 'carousel'">
			<ion-slide ng-repeat="product in products | filterProduct:formFilter">
				<div class="list card">
					<div class="item item-body">
						<img ng-src="{{product.img}}" height="{{imageheight}}" width="100%">
						<h2>{{product.title}}</h2>
						<p>{{product.small_desc}}</p>
						<p><a ng-click="gotoProduct(product.id)" class="button button-clear button-energized">EN SAVOIR PLUS</a></p>
					</div>
				 
					<div class="item tabs tabs-secondary external-link-block tabs-energized">
						<a href="{{product.link}}" class="button button-icon icon ion-android-cart" target="_blank"></a>
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>


		<!-- product list -->
		<div class="list" ng-show="viewMode == 'list'">

			<a ng-repeat="product in products" nav-direction="forward" class="item item-thumbnail-left item-dark item-button-right" href="#/product/{{product.id}}">
				<img ng-src="{{product.img}}">
				<h2>{{product.title}}</h2>
				<p>{{product.small_desc}}</p>
				<button class="button button-icon ion-chevron-right"></button>
			</a>

		</div>

		<!-- footer included carousel -->
		<div class="bar bar-footer">
			<button class="button button-icon icon ion-chevron-left" ng-click="prevProduct()" ng-show="slideIndex >= 0"></button>
			<div class="title">Title</div>
			<button class="button button-icon icon ion-chevron-right" ng-click="nextProduct()" ng-show="slideIndex < products.length"></button>
		</div>
	</ion-content>
</ion-view>