<ion-view view-title="question-{{current_question.id}}">
	<ion-content padding="false" scroll= "false" scrollbar-x="false" scrollbar-y="false" class="question">

		<!-- Header bloc -->
		<ion-header-bar align-title="center" class="bar-dark">
		  <div class="buttons">
		    <button class="button  button-icon button-energized icon ion-arrow-left-c" ng-click="goBack()" ng-hide="current_question.parent == null"></button>
		  </div>
		  <h1 class="title"><div class="logo small"></div></h1>
		</ion-header-bar>

		<!-- Question block -->
		<div class="question-block text-center">
			<h3>{{current_question.question}}</h3>
		</div>
		<div class="answers-list-block">
			<div class="list dark">
				<a class="item item-avatar item-dark item-button-right" ng-repeat="answer in current_question.answers" href="#/answer/{{current_question.id}}/{{answer.id}}">
		            <img ng-src="{{answer.img}}" />
		            <h2>{{answer.label}}</h2>
		            <button class="button button-icon ion-chevron-right"></button>
		        </a>
			</div>
		</div>

	</ion-content>
</ion-view>