/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$global-opacity: 0.85;
$energized: 					  #C9651A !default;
$stable:                          #C9651A !default;
$dark:                            #000 !default;
$light:                           #fff !default;

$base-background-color:           #000 !default;
$base-color:                      #fff !default;

$item-dark-border: 				  #666 !default;

$button-energized-text:			  $energized;

$button-stable-border:     $energized;
$button-stable-text:			  $light;

$bar-energized-text:			  $light;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.logo {
	background: url('../img/logo.svg') no-repeat;
	width: auto;
	height: $bar-height * 2;
	background-size: 100%;
	fill: white;
	stroke: white;
	margin: 0;
	padding: 0;

	&.small {
		height: $bar-height;
		width: 150px !important;
	}
}

.error-popup {
	color: $dark;
	* {
		color: inherit;
	}
}


.prehome {

	background: url('../img/bg_products.jpg') no-repeat ;
	background-size: 100% 100%;


	.button-prehome {
		opacity: $global-opacity;
		width: 80%;

	}

	.card {
		background: transparent;
		color: $light;
		box-shadow: none;

		.item, .item-body {
			background: inherit;
			color: inherit;

			p {
				strong {
					color: $light;
				}
			}
		}

		.item-text-wrap {
			p {
				color: $light;
			}
		}
	}
	.loading {
		background: transparent !important;

		.spinner svg {
		  width: 50px;
		  height: 50px;
		  stroke: $energized;
		  fill: $energized;
		}
	}
}

.question {
	background: url('../img/bg_question.jpg') no-repeat;
	background-size: 100% 100%;

	.question-block {
		height: 30%;
		color: $dark;
		margin-top: $bar-height;
		background: $light;

		* {
			color: inherit;
		}
	}
	.answers-list-block {
		background: $dark;
		height: 100%;
		opacity: $global-opacity  - 0.15;

		.list {
			//opacity: $global-opacity - 0.2;
		}
	}
}


.products {
	.filter_block {
		margin-top: $bar-height;
		background-color: $dark;

		.item-select {
			padding-left: 10px;
		}

		select {
			background: transparent;
		}
	}

	.product_carousel {

		background: url('../img/bg_products.jpg');
		height: 100%;
		margin-bottom: $bar-height;

		.slider-slides {
			//min-width: 100% !important;

			.slider-slide {
				margin-bottom: $bar-height;

				.card {
					margin: 20px;
					background: $dark;
					color: $light;
					opacity: $global-opacity;

					.item-body {
						padding:0;
						background: transparent;

						h2, p {
							padding: 0 5px 5px 20px;
							margin: 0;
							color: $light;
						}

						h2 {
							  margin: 5px 0;
							  font-weight: bold;
						}
					}

					.item-text-wrap {
						background: $dark;
						color: $light;
					}

					.external-link-block {
						background: $energized;
						color: $light;
						padding-bottom: 0;
						padding-top: 0;

						.button {
							width: 100%;
							color: $dark;
						}
					}

				}
			}
		}
	}
}

.product {
	.product_infos {
		margin-top: $bar-height;
		margin-bottom: $bar-height;
		background: $light;
		color: $dark;

		img {
			height: $bar-height * 6;
			width: 100%;
		}

		h3, h4, h5 {
			color: $dark;
		}
	}
}